body{
  background-color: #93B1A6;
}

#brandname{
  color: #5C8374 !important;
}

#navbar{
  background: #040D12 !important;
}

.nav-link{
  color: #93B1A6 !important;
}

#arrow{
  margin-left: -190px;
}

#message{
  margin-top: -100px;

}